doctype html
html
	head
		title Puzzle Bot
		link(rel='stylesheet', href='/stylesheets/joker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.back.pastel-blue
		#content
			header#head
				h1 Jumble
				h2= puzzle.date
			section.text
				article
					p
						| These puzzles challenge your anagram solving power.  Find the word that matches the jumbled letters.  Check your answer in the box to earn points!
			section.section
				article.card.back.pastel-egg
					header
						h3.card-header Easy
					div
						p.card-text.card-space
							| #{puzzle.easyproblem}
						.card-input
							input(type="hidden",id="easyid",value=puzzle.easyid)
							input.card-number.medium(type="text",id="easytext")
							button.card-button(type="text",data-target="easy") Check
				article.card.back.pastel-egg
					header
						h3.card-header Medium
					div
						p.card-text.card-space
							| #{puzzle.mediumproblem}
						.card-input
							input(type="hidden",id="mediumid",value=puzzle.mediumid)
							input.card-number.medium(type="text",id="mediumtext")
							button.card-button(type="text",data-target="medium") Check
				article.card.back.pastel-egg
					header
						h3.card-header Hard
					div
						p.card-text.card-space
							| #{puzzle.hardproblem}
						.card-input
							input(type="hidden",id="hardid",value=puzzle.hardid)
							input.card-number.medium(type="text",id="hardtext")
							button.card-button(type="text",data-target="hard") Check

			footer
				| &copy;Copyright 2014, PzlBot.com | Please do unto others as you would have them do unto you.
				noscript
					h2 Hello Non-JavaScripter!
					p
						| A friendly note: many of the puzzles and links shown above require javascript, and will likely not work unless javascript is enabled.
